@for $i from 0 through 5 {
  .p {
    &-#{$i} {
      padding: #{$i}rem;
    }
    &y-#{$i} {
      padding-top: #{$i}rem;
      padding-bottom: #{$i}rem;
    }
    &x-#{$i} {
      padding-left: #{$i}rem;
      padding-right: #{$i}rem;
    }
    &t-#{$i} {
      padding-top: #{$i}rem;
    }
    &b-#{$i} {
      padding-bottom: #{$i}rem;
    }
  }

  .m {
    &y-#{$i} {
      margin-top: #{$i}rem;
      margin-bottom: #{$i}rem;
    }
    &t-#{$i} {
      margin-top: #{$i}rem;
    }
    &b-#{$i} {
      margin-bottom: #{$i}rem;
    }
    &r-#{$i} {
      margin-right: #{$i}rem;
    }
  }

  @media only screen and (max-width: $media-breakpoint-small) {
    .p {
      &-#{$i} {
        padding: #{$i/2}rem;
      }
      &y-#{$i} {
        padding-top: #{$i/2}rem;
        padding-bottom: #{$i/2}rem;
      }
      &x-#{$i} {
        padding-left: #{$i/2}rem;
        padding-right: #{$i/2}rem;
      }
      &t-#{$i} {
        padding-top: #{$i/2}rem;
      }
      &b-#{$i} {
        padding-bottom: #{$i/2}rem;
      }
    }

    .m {
      &y-#{$i} {
        margin-top: #{$i/2}rem;
        margin-bottom: #{$i/2}rem;
      }
      &t-#{$i} {
        margin-top: #{$i/2}rem;
      }
      &b-#{$i} {
        margin-bottom: #{$i/2}rem;
      }
      &r-#{$i} {
        margin-right: #{$i/2}rem;
      }
    }
  }
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}

.d-flex {
  display: flex;

  @media only screen and (max-width: $media-breakpoint-small) {
    flex-wrap: wrap;
  }
}
