@import 'variables';
@import 'vendor/rfs';
@import 'mixins';
@import 'reboot';

* {
  color: $primary;
}

body {
  padding-top: $nav-bar-height;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-light {
  background-color: $bg-light;
}

.section-title {
  color: $section-title-color;
}

.section-article {
  background-color: $bg-darker;
  padding: 2rem;
}

.section {
  padding-bottom: 5rem;
}


@media only screen and (max-width: $media-breakpoint-medium) {
  body {
    padding-top: $nav-bar-height-small;
  }
}
