@import 'variables';
@import 'vendor/rfs';
@import 'mixins';
@import 'reboot';

* {
  color: $primary;
}

.bg-light {
  background-color: $bg-light;
}

.section-title {
  color: $section-title-color;
}

.section-article {
  background-color: $bg-darker;
  padding: 2rem;
}

.section {
  padding-bottom: 5rem;
}
