.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  width: 100vw;
  background: white;

  .nav-items {
    display: flex;
    align-items: center;

    .nav-item {
      margin: 0 1rem;
    }
  }
}
