@import '../styles/variables';

#section-3 {
  .row {
    display: flex;

    .block {
      padding: 4rem 3rem;
      width: 400px;
      height: 400px;
      position: relative;
    }
  }

  .center-block {
    padding: 5rem;
    margin: 6rem auto 0 auto;
    position: relative;
  }

  .naaimachine {
    background-image: url(/gepakt-en-gezakt/icons/naaimachine.png);
    width: 100%;
    height: 100%;
    background-size: 305px;
    background-repeat: no-repeat;
    position: absolute;
    left: 55%;
    top: 40%;
    z-index: 100;
  }

  .ulule {
    background-image: url(/gepakt-en-gezakt/icons/ulule.png);
    width: 100%;
    height: 100%;
    background-size: 185px;
    background-repeat: no-repeat;
    position: absolute;
    left: 25%;
    top: 37%;
    z-index: 100;
  }

  .pijl {
    background-image: url(/gepakt-en-gezakt/icons/pijl.png);
    width: 130px;
    height: 200px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 35%;
    bottom: -100px;
    z-index: 100;

    &.block-3 {
      top: -70px;
      background-size: 70px;
      height: 140px;
      right: 0;
      left: auto;
    }
  }

  .pijl-rechts {
    background-image: url(/gepakt-en-gezakt/icons/pijl-rechts.png);
    width: 200px;
    height: 130px;
    background-size: 130px;
    background-repeat: no-repeat;
    position: absolute;
    right: -130px;
    top: 140px;
    z-index: 100;
    transform: rotate(25deg);

    &.block-1 {
      top: 300px;
      transform: rotate(10deg);
      right: -150px;
      background-size: 110px;
    }
  }

  .pijl-rechts-beneden {
    background-image: url(/gepakt-en-gezakt/icons/pijl-rechts-beneden.png);
    width: 200px;
    height: 75px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    right: -145px;
    top: 10px;
    z-index: 100;
    transform: rotate(-3deg);
  }

  .tassen-en-poncho {
    background-image: url(/gepakt-en-gezakt/icons/tassen-en-poncho.png);
    width: 330px;
    height: 330px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 41px;
    bottom: -44px;
    z-index: 100;
  }

  .tenten {
    background-image: url(/gepakt-en-gezakt/icons/tenten.png);
    width: 350px;
    height: 310px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    bottom: -60px;
    z-index: 100;
  }

  @media only screen and (max-width: $media-breakpoint-medium) {
    .center-block {
      padding: 5rem 2rem;
    }

    .row {
      flex-wrap: wrap;

      .block {
        padding: 4rem 3rem;
        width: 100%;
        height: calc(100vw - 4rem);
        position: relative;
        border: 1px solid #eaefeb;
        margin: 0.5rem 0;
      }
    }

    .pijl,
    .pijl-rechts,
    .pijl-rechts-beneden {
      display: none;
    }

    .tenten {
      bottom: -155px;
      left: -6px;
      width: 100%;
    }

    .tassen-en-poncho {
      background-position-x: center;
      background-position-y: bottom;
      background-size: 50%;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .ulule {
      background-position-x: 49%;
      background-position-y: 33%;
      background-size: 38%;
      bottom: 0px;
      left: 0;
      width: 100%;
    }

    .naaimachine {
      background-position-x: 49%;
      background-position-y: 57%;
      background-size: 65%;
      bottom: 0px;
      left: 0;
      width: 100%;
    }
  }
}
