@import '../styles/variables';

#section-4 {
  text-align: justify;
  .img-wrapper {
    img {
      width: 100%;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .center-block {
    margin: 5rem auto;
    position: relative;
    // width: 800px;
    height: 247px;
    }

  .content-wrapper {
    margin-top: -5rem;
    padding-top: 5rem;
    background-color: white;

    .content {
      flex: 1;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .link {
    text-decoration: underline;
  }

  .img {
    flex: 1;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .pijl {
    background-image: url(/gepakt-en-gezakt/icons/pijl-rechts.png);
    background-repeat: no-repeat;
    background-size: 110px;
    height: 100px;
    left: 80px;
    position: absolute;
    left: -170px;
    top: 36px;
    transform: rotate(60deg);
    width: 180px;
    z-index: 100;
  }

  @media only screen and (max-width: $media-breakpoint-medium) {
    .content-wrapper {
      .content {
        flex: initial;
      }
    }
    .center-block {
      margin: 2rem auto 0 auto;
    }

    .pijl {
      display: none;
    }
  }
}
