@import '../styles/variables';

#section-3 {
  .row {
    display: flex;

    .block {
      padding: 2rem;
      width: 400px;
      height: 400px;
    }
  }

  .center-block {
    padding: 5rem 5rem 10rem 5rem;
  }
}
