@import '../styles/variables';

#section-2 {
  .section {
    margin-top: -10rem;
    padding-top: 9rem;
    padding-bottom: 5rem;
    justify-content: space-between;
  }

  .content-right {
    max-width: 60%;
  }

  .title {
    width: 100%;
    position: relative;

    .pijl {
      background-image: url(/gepakt-en-gezakt/icons/pijl-rechts.png);
      background-repeat: no-repeat;
      background-size: 180px;
      height: 100px;
      left: 80px;
      position: absolute;
      right: -170px;
      top: 220px;
      transform: rotate(75deg);
      width: 180px;
      z-index: 100;
    }
  }

  .center-block {
    padding: 5rem;

    .title-left {
      margin-left: -14rem;
      margin-top: -4rem;
    }

    .content {
      max-width: 80%;
    }

    .img-right {
      position: absolute;
      right: -100px;
      top: -5rem;
    }
  }
}

.center-block {
  margin: 5rem auto 0 auto;
  position: relative;
  width: 800px;
}

@media only screen and (max-width: $media-breakpoint-small) {
  .center-block {
    width: 100%;
    padding: 2rem;
    margin: 2rem auto;
  }

  #section-2 {
    .img-right {
      display: none;
    }

    .section {
      padding: 5rem 0;
    }

    .content-right {
      max-width: 100%;
      margin-bottom: 2rem;
    }

    .center-block {
      padding: 5rem 2rem;

      .title-left {
        margin: -2rem 0 1rem 0;
      }
      .content {
        max-width: 100%;
      }
    }
  }

  .pijl {
    display: none;
  }
}
