@import '../styles/variables';

#section-1 {
  .thumbs-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    .thumb {
      max-width: 32%;
    }
  }

  .full-width {
    width: 100%;
  }

  article {
    .content {
      &:not(:last-child) {
        padding-right: 2rem;
      }
    }
  }

  .content-left {
    flex-direction: column;
    max-width: 60%;
  }

  .img-wrapper {
    margin: 0 0 0 auto;
  }

  .thumbs-wrapper-1 {
    justify-content: space-between;

    .thumb {
      width: 24%;
    }
  }

  .title {
    position: relative;
    display: inline-block;

    .pijl-rechts {
      background-image: url(/gepakt-en-gezakt/icons/pijl-rechts.png);
      width: 100px;
      height: 100px;
      background-size: 100px;
      background-repeat: no-repeat;
      position: absolute;
      right: -170px;
      top: 20px;
      z-index: 100;
    }
  }

  .py-5 {
    padding-top: 0rem;
    padding-bottom: 5rem;
  }

  @media only screen and (max-width: $media-breakpoint-small) {
    .thumbs-wrapper {
      flex-wrap: wrap;

      .thumb {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-bottom: .5rem;
      }
    }

    article {
      .content {
        &:not(:last-child) {
          padding-right: 0;
        }
      }
    }

    .thumbs-wrapper-1 {
      .thumb {
        height: 100%;
      }
    }

    .content-left {
      max-width: 100%;
      margin-bottom: 2rem;
    }

    .pijl-rechts {
      display: none;
    }
  }
}
